body{
  margin:10px 20px 0;
  font-size: 1.2rem;
  font-family: Arial, Helvetica, sans-serif;
}

h2{
  text-decoration: underline;
}
p{
  margin-bottom: 15px;
  margin-top:15px;
}

li{
  list-style-type: none;
}

code {
  background-color: #000;
  color:#fff;
  border-radius: 3px;
  font-family: courier, monospace;
  padding: 2px 5px;
  font-size: 0.9rem;
}
.main-section{
  margin-bottom: 30px;
}
.code{
  background-color: #000;
}

@media screen and (min-width:800px){
  body{
    display: flex;
    padding: 20px 20px 0;
  }
  #navbar{
    display: flex;
    flex-direction: column;
    position: fixed;
    top:30px;
    width: 15rem;
    min-width: 15%;
    border: 2px black solid;
    border-radius: 10px;
    padding: 10px;
    min-height: 40vh;
    height: 85%;
  }
  #navbar header{
    font-size: 1.3rem;
  }
  #navbar a{
    text-decoration: none;
    padding:10px 0;
    font-size: 1.2rem;
  }
  main#main-doc{
    max-width: 80%;
    margin-left: 20rem;
  }
}